@page "/car"

@inherits carProgram.DoCar

<h1 style="color:black;">Used Car Dealership Data</h1>
<button class="btn btn-primary" style="background-color:darkgray" @onclick="Camry">Toyota Camry '10</button>
<br />

<br/>

      <p>Make: @OutputMake</p>
      <p>Model: @OutputModel</p>
      <p>Color: @OutputColor</p>
      <p>Year: @OutputYear</p>
      <p>Price: @OutputPrice</p>
      <br />
      <img src="@OutputURL" style="width:600px;height:400px;">


