@page "/car"

@inherits carProgram.DoCar

<h1 style="color:black;">Used Car Dealership Database</h1>
<br />

<br/>


<table>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Color</th>
    <th>Year</th>
    <th>Price</th>
  </tr>
  <tr>
      <td>@OutputMake</td>
      <td>@OutputModel</td>
      <td>@OutputColor</td>
      <td>@OutputYear</td>
      <td>@OutputPrice</td>
  </tr>
  
</table>

