@page "/car"

@inherits carProgram.DoCar

<h1 style="color:black;">Used Car Dealership Data</h1>
<button onclick="Camry">
    <img src="https://media.ed.edmunds-media.com/toyota/camry/2010/oem/2010_toyota_camry_sedan_le_fq_oem_1_500.jpg" alt="Toyota Camry" style="width:300px;height:200px">
    <br>Toyota Camry
</button>
<br />

<br/>


      <p>Make: @OutputMake</p>
      <p>Model: @OutputModel</p>
      <p>Color: @OutputColor</p>
      <p>Year: @OutputYear</p>
      <p>Price: @OutputPrice</p>
      <br />


