@page "/criminal"

<h1>Criminal Database</h1>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Race</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Crime</th>
    </tr>
    @foreach (var criminal in criminals)
            {
<tr>
    <td>@criminal.firstName</td>
    <td>@criminal.lastName</td>
    <td>@criminal.age</td>
    <td>@criminal.gender</td>
    <td>@criminal.race</td>
    <td>@criminal.height</td>
    <td>@criminal.weight lbs</td>
    <td>@criminal.crime</td>
</tr>
            }

</table>

@code {
    [Parameter]
    public string firstName { get; set; }
    public string lastName { get; set; }
    public int age { get; set; }
    public string gender { get; set; }
    public string race { get; set; }
    public string height { get; set; }
    public int weight { get; set; }
    public string crime { get; set; }
    public string sentence { get; set; }

    private List<Criminal> criminals;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        criminals = new List<Criminal>();
        criminals.Add(new Criminal { firstName = "Gabriel", lastName = "Alvarez", age = 24, gender = "Male", race = "Hispanic", height = "5'8", weight = 140, crime = "Tax Evasion", sentence = "4 years"});
        criminals.Add(new Criminal { firstName = "Roger", lastName = "Branch", age = 46, gender = "Male", race = "White", height = "6'0", weight = 220, crime = "Sexual Assault", sentence = "12 years" });
        criminals.Add(new Criminal { firstName = "George", lastName = "Cartman", age = 27, gender = "Male", race = "Black", height = "5'9", weight = 150, crime = "Vandalism", sentence = "2 weeks" });
        criminals.Add(new Criminal { firstName = "Thomas", lastName = "Dunn", age = 21, gender = "Male", race = "White", height = "5'9", weight = 170, crime = "Assault with Weapon", sentence = "18 months" });
        criminals.Add(new Criminal { firstName = "Peter", lastName = "Edwards", age = 28, gender = "Male", race = "White", height = "5'8", weight = 160, crime = "Grand Theft Auto", sentence = "3 years" });
        criminals.Add(new Criminal { firstName = "Jeff", lastName = "Hoffmann", age = 31, gender = "Male", race = "White", height = "5'11", weight = 185, crime = "Bribery", sentence = "6 months" });
        criminals.Add(new Criminal { firstName = "Gary", lastName = "Householder", age = 39, gender = "Male", race = "White", height = "5'11", weight = 310, crime = "Gambling", sentence = "3 months"});
        criminals.Add(new Criminal { firstName = "Stephanie", lastName = "Huber", age = 27, gender = "Female", race = "White", height = "5'7", weight = 135, crime = "Fraud", sentence = "10 years" });
        criminals.Add(new Criminal { firstName = "Bill", lastName = "Johnson", age = 34, gender = "Male", race = "White", height = "5'10", weight = 210, crime = "Theft", sentence = "7 years"});
        criminals.Add(new Criminal { firstName = "Teresa", lastName = "Mack", age = 24, gender = "Female", race = "White", height = "5'4", weight = 125, crime = "Giving a Minor Alcohol", sentence = "2 months" });
        criminals.Add(new Criminal { firstName = "Lisa", lastName = "Martinez", age = 41, gender = "Female", race = "Hispanic", height = "5'2", weight = 125, crime = "DUI", sentence = "6 months" });
        criminals.Add(new Criminal { firstName = "Michael", lastName = "Powers", age = 30, gender = "Male", race = "Black", height = "6'3", weight = 200, crime = "Arson", sentence = "20 years" });
        criminals.Add(new Criminal { firstName = "Luis", lastName = "Rodriguez", age = 22, gender = "Male", race = "Hispanic", height = "5'6", weight = 150, crime = "Arson", sentence = "6 years" });
        criminals.Add(new Criminal { firstName = "Herbert", lastName = "Ryan", age = 43, gender = "Male", race = "White", height = "6'1", weight = 180, crime = "Attempted Murder", sentence = "22 years" });
        criminals.Add(new Criminal { firstName = "James", lastName = "Varner", age = 30, gender = "Male", race = "White", height = "5'3", weight = 125, crime = "Drug Abuse", sentence = "8 months" });
        criminals.Add(new Criminal { firstName = "John", lastName = "Zhao", age = 38, gender = "Male", race = "Asian", height = "5'7", weight = 130, crime = "DUI", sentence = "9 months" });

    }
}